<div class="nsh_slick_logos">
  
<div class="templateRegion" id="nsh_slick_logos" data-oc-id="nsh_slick_logos">
  <!-- oc layout: panels -->
  <div class="row">
    <div class="oc-panel col-md-6" data-oc-id="panel-1">
     
</div>
    <div class="oc-panel col-md-6" data-oc-id="panel-2"></div>
  </div>
  <!-- /oc -->
</div>

</div>
