#WIDGET_ID-WIDGET_INSTANCE_ID {

    .slick_hero {
        display: block;

        img{
        width: 100%;
        height: auto;
        }
        
        .slick-slide {
            display: none;
            float  : left;
            height : 100%;
        }

        .slick-initialized .slick-slide {
            display: block;
        }

        .slick-slider {
            -webkit-transform          : translate3d(0, 0, 0);
            -moz-transform             : translate3d(0, 0, 0);
            -ms-transform              : translate3d(0, 0, 0);
            -o-transform               : translate3d(0, 0, 0);
            transform                  : translate3d(0, 0, 0);
            position                   : relative;
            display                    : block;
            box-sizing                 : border-box;
            -webkit-touch-callout      : none;
            -webkit-user-select        : none;
            -khtml-user-select         : none;
            -moz-user-select           : none;
            -ms-user-select            : none;
            user-select                : none;
            -ms-touch-action           : pan-y;
            touch-action               : pan-y;
            -webkit-tap-highlight-color: transparent;

        }

        .slick-track {
            position   : relative;
            top        : 0;
            left       : 0;
            display    : block;
            margin-left: auto;
        }

        .slick-slider .slick-track,
        .slick-slider .slick-list {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform   : translate3d(0, 0, 0);
            -ms-transform    : translate3d(0, 0, 0);
            -o-transform     : translate3d(0, 0, 0);
            transform        : translate3d(0, 0, 0);
        }

        .slick-list {
            position: relative;
            display : block;
            overflow: hidden;
            margin  : 0;
            padding : 0;
        }

        /* Dots */
        .slick-dotted.slick-slider {}

        .slick-dots {
            position  : absolute;
            bottom    : 15px;
            display: none !important;
            width     : 100%;
            padding   : 0;
            margin    : 0;
            list-style: none;
            text-align: center;
        }

        .slick-dots li {
            position        : relative;
            display         : inline-block;
            width           : 15px;
            height          : 15px;
            margin          : 0 5px;
            padding         : 0;
            cursor          : pointer;
            background-color: #e3e3e3;
            border-radius   : 50%;
            border          : 2px solid transparent;

            &.slick-active{
                border: 2px solid #ed1c3a;
            }
        }

        .slick-dots li button {
            font-size  : 0;
            line-height: 0;
            display    : block;
            width      : 20px;
            height     : 20px;
            padding    : 5px;
            cursor     : pointer;
            color      : transparent;
            border     : 0;
            outline    : none;
            background : transparent;
        }

        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }

        .slick-dots li button:before {
            font-family            : initial;
            font-size              : 24px;
            line-height            : 20px;
            position               : absolute;
            top                    : 0;
            left                   : 0;
            width                  : 20px;
            height                 : 20px;
            background-image       : url(/file/general/back-arrow.png);
            text-align             : center;
            opacity                : .25;
            color                  : #fff;
            -webkit-font-smoothing : antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            color  : #fff;
        }

        

        /* Arrows */
        .slick-prev,
        .slick-next {
            font-size        : 0;
            line-height      : 0;
            position         : absolute;
            top              : 25%;
            display          : block;
            width            : 20px;
            height           : 20px;
            padding          : 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform    : translate(0, -50%);
            transform        : translate(0, -50%);
            cursor           : pointer;
            color            : transparent;
            border           : none;
            outline          : none;
            background       : transparent;
        }


        .slick-prev {
            background-image: url(/file/general/back-arrow.png);
            left            : 15px;
            z-index         : 1;
            height          : 48px;
            background-size : 10px;
            width           : 10px;
            @media screen and (max-width: 768px) {
                width: 6px;
                height: 28px;
                background-size: 6px;
            }
        }

        [dir='rtl'] .slick-prev {
            right: 15px;
            left : auto;
        }


        .slick-next {
            right           : 15px;
            background-image: url(/file/general/next-arrow.png);
            background-size : 10px;
            width           : 10px;
            height          : 48px;
            @media screen and (max-width: 768px) {
                width: 6px;
                height: 28px;
                background-size: 6px;
            }
        }

        [dir='rtl'] .slick-next {
            right: auto;
            left : 15px;
        }





    }

}